@import "~base/variables";

$black: #1D1F22;
$primary: #E76558;
$rb-grey1: #F1F2F3;
$grey2: #72757E;

$fb-blue: #2c5a98;
$pinterest-red: #db0002;
$goole-red: #ec4234;
$twitter-blue: #00a4f3;
$youtube-red: #de1b11;

$searchBoxBottomBorderColor: #43464E;
$button-bg: $primary;
$slick-shodow:#dadada;
$mobile-bottom-cart-background: #fc5a52;
$mobile-bottom-cart-count-background: #d12727;
