@import "~base/search";
@import "utilities/swatch";
@import "variables";

.tab-pane{
    border-top: 1px solid #F1F2F3;
}

.refinement-bar-container{

    position: fixed;
    min-width: 300px;
    width: 25%;
    top: 0;
    left: -50%;
    bottom: 0;
    z-index: 9;
    transition: 1s;

    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .floating-refinement-backdrop{  
    position: fixed;
    background: black;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    opacity: 0.5;
    display: none;
}

  &.open{
      left:0;
      transition: 1s;

      .floating-refinement-backdrop{
          display: block;
      }
  }

  &.on-scrollbar{
    ::-webkit-scrollbar {
        width: 6px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: rgba(252,90,82,1); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(252,90,82,1); 
    }
  }

    .floating-refinement-bar{
        position: absolute;
        background: white;
        max-height: 100vh;
        height: 100vh;
        padding-left: 6px;  // same as scrollbar width
        overflow: auto;

        .all-refinements{
            .card, .card-header{
                border: none;
            }

            .card{
                margin-bottom: 0;

                .card-header{
                    padding-bottom: 1rem;
                    font-size: 16px;
                    line-height: 24px;
                }

                .card-body{
                    padding: 0 1.25rem;
                    font-size: 15px;
                    line-height: 24px;

                    ul li{
                        display: flex;
                        justify-content: space-between;

                        &.color-attribute{
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                }
            }

            .refinement-category{
                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
        }
    }

    .refinement-ctas{
        position: sticky;
        bottom: 0;
        background: white;
        padding-top: 20px;

        button.reset{
            background-color: #72757E;
        }
    }

    .close-refinement-btn{
        position: absolute;
        right: -20px;
        top: 20px;
        padding: 0;
        border: 0;
        z-index: 6;
        height: 40px;
        width: 40px;
        font-size: 16px;
        color: white;
        background: #FC5A52;
        border-radius: 50%;
        outline:none;
    }
   
}

.category-refinement-header{
    margin-top: 0.75em;
    margin-left: 25px;

    p > span {
        font-size: 22px;
        font-weight: 600;
        color: $searchBoxBottomBorderColor;
    }
}

.category-refinements{
    .card{
        border: 0;

        &.refinement-category{
            .card-body{
                padding-top:0;
            }
        }
    }

    button{
        border:none;
        background: none;
    }

    button.expander{
        display: block;
        font-size:18px;

        &[aria-expanded="true"]{
            color: #FC5A52;
        }
      }
      button.expander:after {
        content: "\f054"; /* fa-chevron-right */
        font-family: 'FontAwesome';
        position: absolute;
        right: 10px;
      }
      button.expander[aria-expanded="true"]:after {
        content: "\f077"; /* fa-chevron-up */
      }

}

.refinement-bar{
    z-index: 9;
    height: 100vh;

    @include media-breakpoint-up(md) {
        display: none !important;
    }

    .all-refinements{

        .card{
            margin-bottom: 0;

            .card-header{
                padding-bottom: 1rem;
                font-size: 16px;
                line-height: 24px;
            }

            .card-body{
                padding: 0 1.25rem;
                font-size: 15px;
                line-height: 24px;
            }
        }

        .card:not(.refinement-category){
            ul li{
                display: flex;
                justify-content: space-between;

                &.color-attribute{
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }
}

.right-section{
    
    border-left: 1px solid #F1F2F3;
    padding: 0;

    .filter-bar{
        .selected-filter-brick{
            border: 1px solid $primary;
            height: 1.5rem;
            border-radius: 0.75rem;
            padding: 0 5px;
            margin: 10px 0 0 10px;


            .refinement-name{
                text-transform: capitalize;
            }
            
            button.remove-filter{
                margin-left: 5px;
            }
        }
    }

    .grid-header{

        margin-right: 0;
        margin-left: 0;
        border-bottom: 1px solid #F1F2F3;
        padding-bottom: 1em;
    
        .right-grid-header{
            display: flex;
            justify-content: space-between;
            margin: auto;
    
            @include media-breakpoint-down(sm){
                border-bottom: 1px solid #F1F2F3;
                margin: auto;
                font-size: 16px;
            }
    
            button.filter-results, label.sort-by-label, select[name="sort-order"], .result-count, .tile-view-selector{
                font-size: 15px;
            }
        }
        
        select{
            width: auto;
    
            &[name="sort-order"]{
                height: 1.5rem;
                padding: 0;
                border: 0;
                background-color: transparent;
                width: 60%;
            }
        }
    
        .filter-results{
            .fa-sliders{
                margin-right: 10px;
            }
        }
    
        .tile-view-selector{
            button{
                margin-left: 10px;
                outline: none;
                color: #8D8F9A;
    
                &.selected{
                    color: $black;
                }
            }
        }
    
        .sort-by-label{
            margin: 0;
            vertical-align: middle;
        }
    
        .result-count{
            font-size: 1rem;
        }
    }

    .product-grid{
        margin-left: 0;
    }
}

.compare-bar-wrapper {
    border: 1px solid #333;
    bottom: 0;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
  
    .product-slots {
      height: 6.25em;
    }
  
    .slot {
      background-color: #222;
      height: 5em;
      margin: 0 auto;
      position: relative;
      width: 6.788em;
      border-radius: 3px;
  
      &:not([data-pid]) {
          border: 1px dashed #ccc;
        }

        img {
            float: left;
            height: 100%;
            position: static;
            border-radius: 3px 0 0 3px;
          }

          i {
            color: $primary;
            float: left;
            font-size: 1rem;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }

          .close {
            background-color: #eee;
            height: 100%;
            width: 25%;
            border-radius: 0 3px 3px 0;
            opacity: 1;
          }

          .action {
            text-align: center;
          }
    }

      .min-products-msg {
        color: #fff;
        font-size: 0.75em;
        line-height: 1.375rem;
        padding: 0.438rem;
      }

      button.compare{
        border-radius: .5rem;
        height: 2.5rem;
        line-height: 2.5rem;
      }

      a.clear-all{
          color: $primary !important;
      }
  }

  .product-comparison {
    .back-to-results {
        margin: 1em 0;
      }

      .product-header > .col {
        padding: 0;
      }
  }

  .product-tile .tile-body .compare {
    font-size: 0.875em;
  }
  .table-striped-column td:nth-of-type(odd) {
    background-color: #eee;
  }
  